
.boujee {
    --bg-size:400%;
    --color-one: hsl(265, 100%, 65%);
    --color-two: hsl(205, 95%, 65%);
    font-family: "Helvetica Neue", sans-serif;
    font-weight: bolder;
    background: linear-gradient(
            90deg,
            var(--color-one),
            var(--color-two),
            var(--color-one)
    )
    0 0 / var(--bg-size) 100%;
    color: transparent;
    background-clip: text;
}

@media (prefers-reduced-motion: no-preference) {
    .boujee {
        animation: move-bg 8s linear infinite;
    }
    @keyframes move-bg {
        to {
            background-position: var(--bg-size) 0;
        }
    }
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.container {
    height: 200px;
    position: relative;
}
